*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
  
      
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --tertiary-color: #f8f8f8;
    --quaternary-color:#919090;
}
.dark-mode{
    --primary-color: #0f0f0f;
    --secondary-color: #ffffff;
    --tertiary-color: #070707;
    --quaternary-color:#555555;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
    
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--secondary-color);
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid var(--secondary-color);
}
.navlist a.active{
    border-bottom: 2px solid var(--secondary-color);
}
#menu-icon{
    color: var(--secondary-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: var(--primary-color);
    transition: 1s;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding:0 19% ;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
.hero-text h1{
        font-family: "Sriracha", cursive;
        font-size: 90px;
        line-height: 1;
        color: var(--secondary-color);
        margin: 0 0 45px;
        justify-content: center;

 }
      
.hero-text p{
    color: var(--secondary-color);
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 700px;
    height: auto;

}
.hero-text a{
    display: inline-block;
    color: var(--secondary-color);
    background: var(--quaternary-color);
    border: 1px solid transparent; 
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid var(--secondary-color);
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid #919090;
    margin-left: 20px;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: var(--secondary-color);
    transition: all .50s ease;
}
.icons i:hover{
    color:#919090 ;
    transform:translateY(5px) ;
}

@media(max-width: 1535px){
    header{
        padding:15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
}
@media (max-width: 1195px){
    ::selection{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
}

@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        height: 220px;
        background:var(--tertiary-color) ;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 25px 20px;
        transition: 1s ease;
        
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 10px 0;
        
    }
    .navlist.open{
        right: 0;
    }
}

@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;

    }
    
}
#moon-icon {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    color: var(--secondary-color);
    transition: .5s;
    transition-timing-function:ease-in-out;
    justify-content: center;
    
   

&:hover{
    transform:rotate(360deg);
    }
}
#moon-icon:active{
    animation: spin 300ms linear infinite;
    transition-duration: 5s;
}
@keyframes spin{
    to{ transform: rotate(-1080deg);}
}




